html
  head
    h4 Blog app: dashboard
    //- importing bootstrap
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
  body
    a(type="button", href="/logout") logout
    h5 Your info here :
    ul
      p username: #{li= results.username}
      p firstname: #{li= results.firstname}
      p lastname: #{li= results.lastname}
      p email: #{li= results.email}

    h5 All your posts:
      each post in posts
        p
          li= post.title
          li= post.body
          li= post.userId
          li= post.id
          a(href="/onepost/" + post.id) open post
